{% extends 'base.html' %} 
{% block content %}
<br>
<h1 id="mcenter">{{ author.title }}</h1>
<div class="row">
  <div class="col-md-3 offset-md-3"></div>
  <div class="col-md-3 offset-md-3"><button type="button" class="btn btn-secondary"><a style="color: white;" href="{% url 'authors_index' %}">go back to author list</a></button></div>
</div>
      <div class="container" data-aos="fade-up">
        <div class="row">
            <div id="flcon">
                <div>
                    <p>Name: {{ author.name }}</p>
                    <p>Gender: {{ author.get_gender_display }}</p>
                    <p>Nationality: {{ author.get_nationality_display }}</p>
                    <p>Date of Birth: {{ author.dob }}</p>
                </div>
                <div>

        {% load static %}
        <img
          width="auto"
          height="350px"
          src="{% static author.image|cut:'main_app/static/' %}"
        />
      </div>
    </div>
    
    <div class="card-action">
      <a class="btn btn-primary" href="{% url 'authors_update' author.id %}"
        >Edit</a
      >
      <a class="btn btn-primary" href="{% url 'authors_delete' author.id %}"
        >Delete</a
      >
    </div>
    <br />
    <hr />
    <br />
    <div>
      <h4>Have an opinion about this Author? Please review!</h4>
      <form action="{% url 'add_review_author' author.id '6' %}" method="post">
        {% csrf_token %} {{ review_form.as_p }}
        <input type="submit" value="Add Review" class="btn btn-primary" />
      </form>

      <br />

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Rating(out of 5)</th>
            <th>Reviews</th>
          </tr>
        </thead>

        <tbody>
          {% for review in all_reviews %} 
          {% if review.reference_id == author.id and review.category_id == "6" %}
          <tr>
            <td>{{ review.rating }}</td>
            <td>{{ review.review }}</td>
          </tr>
          {% endif %} {% endfor %}
          <div class="pagination">
            <span class="step-links">
              {% if all_reviews.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                Page {{ all_reviews.number }} of {{ all_reviews.paginator.num_pages }}.
              </span>

              {% if all_reviews.has_next %}
              <a href="?page={{ all_reviews.next_page_number }}">next</a>
              <a href="?page={{ all_reviews.paginator.num_pages }}"
                >last &raquo;</a
              >
              {% endif %}
            </span>
          </div>
        </tbody>
      </table>
    </div>

    <hr />

  </div>
</div>

{% endblock %}
