{% extends 'base.html' %} 

{% block content %}
<br>
{% if object %}
<div class="row">
    <div class="col-md-3 offset-md-3"><h1>Edit <span class="teal-text"> {{ object.title }}</span></h1></div><br>
    <div class="col-md-3 offset-md-3"><button type="button" class="btn btn-secondary"><a style="color: white;" href="{% url 'novels_index' %}">go back to novel list</a></button></div>
  </div><br><br>


{% else %}
<h1 id="mcenter">Add Novel</h1>
<div class="row">
    <div class="col-md-3 offset-md-3"></div>
    <div class="col-md-3 offset-md-3"><button type="button" class="btn btn-secondary"><a style="color: white;" href="{% url 'novels_index' %}">go back to novel list</a></button></div>
  </div><br><br>
{% endif %}


<form action="" method="POST" enctype="multipart/form-data" id="cform">


  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <br>

  <input type="submit" value="Submit" class="btn btn-primary" />
</form>


{% endblock %}
